*.py[co]

# Documentation
doc/_build/

# Packages
*.egg
*.egg-info
*.swp
*.swo
*~
dist
build
eggs
parts
bin
cache
var
sdist
develop-eggs
.installed.cfg
log

# Installer logs
pip-log.txt
uv.lock

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# Moulinette
doc/*.json
moulinette/package.py
# track only test namespace
lib/**
!lib/test
data/actionsmap/**
!data/actionsmap/test.yml
tests/actionsmap/.moulitest*

# Debian build
/.pybuild/
/debian/.debhelper/
/debian/moulinette/
/debian/debhelper-build-stamp
/debian/files
/debian/moulinette.*
