Source: moulinette
Section: python
Priority: optional
Maintainer: Jérôme Lebleu <jerome.lebleu@mailoo.org>
Build-Depends: debhelper (>= 9), python (>= 2.7), dh-python, python-setuptools, python-psutil, python-all (>= 2.7)
Standards-Version: 3.9.6
X-Python-Version: >= 2.7
Homepage: https://github.com/YunoHost/moulinette

Package: moulinette
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
    python-ldap,
    python-yaml,
    python-bottle (>= 0.12),
    python-gevent-websocket,
    python-argcomplete,
    python-toml,
    python-psutil,
    python-tz
Description: prototype interfaces with ease in Python
 The moulinette is a Python package that allows one to quickly and
 easily prototype interfaces for your application. Each action can
 be served through an HTTP API and from the command-line with a single
 method.
 .
 It was originally written for the YunoHost project.
