Source: moulinette
Section: python
Priority: optional
Maintainer: Jérôme Lebleu <jerome.lebleu@mailoo.org>
Build-Depends: debhelper (>= 9), python (>= 3.5), dh-python, python3-setuptools, python3-psutil, python3-all (>= 3.5)
Standards-Version: 3.9.6
X-Python-Version: >= 3.5
Homepage: https://github.com/YunoHost/moulinette

Package: moulinette
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
    python3-ldap3,
    python3-yaml,
    python3-bottle,
    python3-gnupg,
    python3-gevent-websocket,
    python3-argcomplete,
    python3-toml,
    python3-psutil,
    python3-tz
Replaces: yunohost-cli
Breaks: yunohost-cli
Description: prototype interfaces with ease in Python
 The moulinette is a Python package that allows one to quickly and
 easily prototype interfaces for your application. Each action can
 be served through an HTTP API and from the command-line with a single
 method.
 .
 It was originally written for the YunoHost project.
